{% extends 'Backend/base.html.twig' %}
{% block body %}
    <!-- Page content -->
    <div class="page-content" style="background-image: url({{asset('school/images/login.jpg')}});
    background-size: cover;">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login form -->


                    <div class="card mb-0" style="border-radius: 20px;">
                        <div class="card-body"><div class="text-center mb-3" >
                                        <a href="{{ path('front') }}"><img src="{{asset('school/images/logo-dark.png')}}" alt="Canvas Logo" style="height: 200px;"></a>
                                        <h5 class="mb-0">Inscription</h5>
                                        <span class="d-block text-muted">Compte élève</span>
                                    </div>
           {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-styled-right alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                                    <span class="font-weight-semibold">{{ message|raw  }}</span> 
                                </div>{% endfor %}
                           {% if form is defined %}
                           {{ form_start(form, {'attr': {'validate': 'validate','class': 'flex-fill '  }}) }}

                        <div class="card-body  row col-lg-12">
                  
                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label font-weight-semibold">Nom:</label>
                                            {{ form_widget(form.firstName, {'attr': {'required' :'required','class': 'form-control col-lg-8 ','placeholder':'Nom'}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label font-weight-semibold">Prénom:</label>
                                            {{ form_widget(form.lastName, {'attr': {'required' :'required','class': 'form-control col-lg-8 ','placeholder':'Prénom '}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                      

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label font-weight-semibold">Telephone :</label>
                                            {{ form_widget(form.email, {'attr': {'required' :'required','pattern' :'[0-9]{8}','class': 'form-control col-lg-8 ','placeholder':'Telephone'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div> 

                                        <div class="form-group row" style="display:none">
                                            <label class="col-lg-3 col-form-label font-weight-semibold">Téléphone:</label>
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control col-lg-8 ','placeholder':'phone'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label font-weight-semibold">Niveau:</label>
                                            {{ form_widget(form.level, {'attr': {'required' :'required','class': 'form-control select-search col-lg-4','placeholder':'Niveau'}}) }}
                                            {{ form_errors(form.level) }}
                                        </div>
                                     </div>
                                     <div class="col-lg-12 text-center mb-3" >
                                    </div>

                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label font-weight-semibold">Mot de passe:</label>
                                            {{ form_widget(form.password, {'attr': {'required' :'required','class': 'form-control col-lg-8','placeholder':'password ','value':''}}) }}
                                            {{ form_errors(form.password) }}</div> 
                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label font-weight-semibold">Confirme mot de passe:</label>
                                            <input type="password" name="oldpassword" class="form-control col-lg-8 " placeholder="Confirme mot de passe">
                                        </div>
                                     </div>
                                    <div class="col-lg-3"></div>

                                <div class="card-body row">

                                    <div class="col-lg-12">

                                      
                                    <button type="submit" style="background: #a3365b;" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round btn-block"><b><i class="icon-plus3 mr-2"></i></b> Valider</button>
                           

                                </div>
                            </div>

                        </div>
                            {{ form_end(form) }}
                       {% else %}


                                <div class="card-body row">

                                    <div class="col-lg-12">

                                       {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-styled-right alert-arrow-right alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                                    <span class="font-weight-semibold">{{ message }}</span> 
                                </div>{% endfor %}

        {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-styled-right alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                                    <span class="font-weight-semibold">{{ message }}</span> 
                                </div>{% endfor %}

                            <div class="form-group">
                                <a href="{{ path('backend_home') }}" style="background: #e0bd9d;" class="btn bg-teal-400 rounded-round btn-block"><b></b>Page d'accueil</a>
                            </div>
                                </div>
                            </div>

                       {% endif %}
                        </div>
                    </div>
                <!-- /login form -->

            </div>
            <!-- /content area -->

            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; 2021 
                    </span>

                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                        <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

{% endblock %}


  